<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LIST</title>
</head>
<body>
<h1>LIST</h1>
<table>
	<tr>
		<td style="width:100px;">系统默认</td>
		<td>我的开发</td>
	</tr>
	<tr>
		<td>
			<div id="scriptContainer"></div>
		</td>
		<td></td>
	</tr>
</table>

<!--外部库: bootstrap-->
<link rel="stylesheet" href="/static/vendor/bootstrap.min.css">
<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/bootstrap.min.js"></script>

<!--我的代码-->
<script src="/static/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/editor/list.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/static/editor/style.css">
</body>
</html>